/node_modules
/npm-debug.log*
.vscode/
/build
.idea
/log
assets/css
assets/js
/app/envApi.js
/bc-original/node_modules
/app/pages/pageTest
/purify
/lesshintReport
/plato-report
/app/envApiBackup.js
package-lock.json
